<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'css/img/perfil.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Administracion | Crear</title>
</head>
<body>

    {% include 'sideBar.html' %}

    <div class="container">
        <div class="titulo">
            <h1>Crear Paquete</h1>
        </div>
        <form action="/ingresar/" method="GET" class="row g-3" name="registro">
            <div class="col-md-4">
                <label for="txtDespacho" class="form-label">Numero Despacho</label>
                <input type="text" class="form-control" id="txtDespacho" name="txtDespacho" placeholder="DT-1234" readonly required>
            </div>
            <div class="col-md-8">
                <button type="button" class="btn btn-dark" id="btnCodigo" onclick="codigo()">Generar Código</button>
            </div>
            <div class="col-md-12">
                <label for="txtCliente" class="form-label">Nombre Cliente</label>
                <input type="text" class="form-control" id="txtCliente" name="txtCliente" placeholder="Nombre" required>
            </div>
            <div class="col-md-6">
                <label for="txtDireccion" class="form-label">Dirección</label>
                <input type="text" class="form-control" id="txtDireccion" name="txtDireccion" placeholder="Dirección" required>
            </div>
            <div class="col-md-6">
                <label for="txtTelefono" class="form-label">Telefono</label>
                <input type="text" class="form-control" id="txtTelefono" name="txtTelefono" placeholder="+569..." required>
            </div>
            <div class="col-md-8">
                <label for="txtProducto" class="form-label">producto</label>
                <input type="text" class="form-control" id="txtProducto" name="txtProducto" placeholder="Producto" required>
            </div>
            <div class="col-md-4">
                <label for="numberPeso" class="form-label">Peso</label>
                <input type="number" step=any class="form-control" id="numberPeso" name="numberPeso" placeholder="Peso" required>
            </div>
            <div class="col-md-4">
                <label for="numberAncho" class="form-label">Ancho</label>
                <input type="number" step=any class="form-control" id="numberAncho" name="numberAncho" placeholder="Ancho" required>
            </div>
            <div class="col-md-4">
                <label for="numberAlto" class="form-label">Alto</label>
                <input type="number" step=any class="form-control" id="numberAlto" name="numberAlto" placeholder="Alto" required>
            </div>
            <div class="col-md-4">
                <label for="numberProfundidad" class="form-label">Profundidad</label>
                <input type="number" step=any class="form-control" id="numberProfundidad" name="numberProfundidad" placeholder="Profundidad" required>
            </div>
            <div class="col-md-6">
                <label for="dtFechaIngreso" class="form-label">Fecha Ingreso</label>
                <input type="date" class="form-control" id="dtFechaIngreso" name="dtFechaIngreso" onchange="" required>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <button type="submit" class="btn btn-dark" onclick="codigoVerif()" id="btnF">Enviar</button>
                </div>
            </div>
            
        </form>
    </div>
    <script src="{% static 'js/codigos.js' %}"></script>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %}
    {%  for m in messages %}
        <script>
            Swal.fire({
                "title":"Felicitaciones",
                "text":"{{m}}",
                "icon":"success"
            })
        </script>
    {%  endfor %}
    {% endif %}
    
</body>
</html>