<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio | Castaño</title>
    <link rel="icon" href="{% static 'css/img/perfil.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/Footer.css' %}">
    
</head>
<body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="{% static 'css/img/logo.png'  %}" alt="" style="width: 80px; height: 65px">Castaño</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
              <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/index/">Inicio</a>
              <a class="nav-link" href="http://127.0.0.1:8000/ingresar_paquete/">Administracion</a>
            </div>
          </div>
        </div>
      </nav>
              <section class="news">
                  <h1>Comer nunca fué más sano</h1>
                  <h2>¡Sin preservantes!</h2>
              </section>
              <div class="wave" style="height: 100px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
    </header>
    <div class="container">
      <div class="titulo">
        <h1>Productos Estrella</h1>
      </div>
      <div class="tarjetas">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
         <div class="card" style="width: 20rem; margin-top: 10px;">
           <img src="{% static 'css/img/p1.jpg' %}" class="card-img-top" alt="...">
           <div class="card-body">
             <h5 class="card-title">Castaña de kaju</h5>
             <p class="card-text">Crujientes castañas de Kaju bajo en sodio y almidón. <br>$3.500 el kilo</p>
             <a href="#nav" class="btn btn-primary btnCard">Más detalles</a>
           </div>
           </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
         <div class="card" style="width: 20rem; margin-top: 10px;">
           <img src="{% static 'css/img/p2.jpg' %}" class="card-img-top" alt="...">
           <div class="card-body">
             <h5 class="card-title">Miel Irlandesa</h5>
             <p class="card-text">Deliciosa miel Irlandeza con bajos indices de azucar y calorías. <br>$8.000 los 700ml</p>
             <a href="#nav" class="btn btn-primary btnCard">Más detalles</a>
           </div>
           </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
         <div class="card" style="width: 20rem; margin-top: 10px;">
           <img src="{% static 'css/img/p3.jpg' %}" class="card-img-top" alt="...">
           <div class="card-body">
             <h5 class="card-title">Semilla de Girasol</h5>
             <p class="card-text">Ricas semillas de girasol, con o sin sal para los más sanos picoteos <br>$2.000 el kilo</p>
             <a href="#nav" class="btn btn-primary btnCard">Más detalles</a>
           </div>
           </div>
          </div>
        </div>
      </div>  
      </div>
        
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>Nosotros</h6>
        <p class="text-justify">Empresa dedicada al envío de productos de tostaduría hace más de 20 años, nuestra experiencia y responsavilidad nos ha posisionado como una de las empresas top en el rubro.</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Categorías</h6>
        <ul class="footer-links">
          <li><a href="#">Frutos secos</a></li>
          <li><a href="#">Postres</a></li>
          <li><a href="#">Administración</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Links</h6>
        <ul class="footer-links">
          <li><a href="#">+569 87635 431</a></li>
          <li><a href="#">infomacióncastaño@Castaño.cl</a></li>
          <li><a href="#">Av Las Castañas 4563</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by 
     <a href="#">Castaño</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
        </ul>
      </div>
    </div>
  </div>
</footer>
</html>