<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'css/img/perfil.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Administracion | Listar</title>
</head>
<body>
    {% include 'sideBar.html' %}
    <div class="container">
        <div class="titulo">
            <h1>Listar Paquetes</h1>
        </div>
        <form action="/listar/" class="row g-3" name="registro">
            <table class="table table-dark table-striped">
                <thead>
                  <tr>
                    <th scope="col">N° Despacho</th>
                    <th scope="col">Nombre cliente</th>
                    <th scope="col"> Fecha ingreso</th>
                    <th scope="col">Fecha envío</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Borrar</th>
                  </tr>
                </thead>
                <tbody>
                    {% if paquete %}
                    {% for paq in paquete %}
                        <tr>
                            <th scope="row">{{ paq.numero_despacho }}</th>
                            <th scope="row">{{ paq.nombre_cliente }}</th>
                            <th scope="row">{{ paq.fecha_ingreso }}</th>
                            <th scope="row">{{ paq.fecha_envio }}</th>
                            <th scope="row">{{ paq.estado }}</th>
                            <th><a href="{% url 'borrar2' paq.numero_despacho %}" class="btn btn-danger btn-sm">Eliminar</a></th>
                        </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
              </table>
              <div class="lo_que_sea">*estado false significa que el paquete aun no es enviado</div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-dark" id="btnF">Actualizar</button>
            </div>
        </form>
    </div>  


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %}
    {%  for m in messages %}
        <script>
            Swal.fire({
                icon: 'error',
                title: 'Paquete Eliminado',
                text: 'Todos los datos del paquete fueron eliminados...',
                footer: '<a href="#">¿Tiene alguna queja?</a>'
            })
        </script>
    {%  endfor %}
    {% endif %}    
    
       

</body>
</html>