<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>


        {% load static %}
        <link rel="stylesheet" href="{% static 'css/sideBar.css' %}">
        <title>Administración Castaño</title>
        
    </head>
    <body id="body-pd">
        <header class="header" id="header">
            <div class="header__toggle">
                <i class='bx bx-menu' id="header-toggle"></i>
            </div>
            <div class="header__img">
                <img src="{% static 'css/img/perfil.png' %}">
            </div>
        </header>
        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div>
                    <a href="http://127.0.0.1:8000/index/" class="nav__logo">
                        <i class='bx bx-package nav__logo-icon'></i>
                        <span class="nav__logo-name">Administración</span>
                    </a>
                    <div class="nav__list">
                        <a href="http://127.0.0.1:8000/ingresar_paquete/" class="nav__link active">
                        <i class='bx bx-message-square-add nav__icon' ></i>
                            <span class="nav__name">Crear</span>
                        </a>
                        <a href="http://127.0.0.1:8000/listar_paquetes/" class="nav__link">
                            <i class='bx bx-table nav__icon' ></i>
                            <span class="nav__name">Listar</span>
                        </a>
                        <a href="http://127.0.0.1:8000/borrar_paquete/" class="nav__link">
                            <i class='bx bx-trash nav__icon' ></i>
                            <span class="nav__name">Eliminar</span>
                        </a>
                        <a href="http://127.0.0.1:8000/modificar_paquete/" class="nav__link">
                            <i class='bx bx-cloud-upload nav__icon' ></i>
                            <span class="nav__name">Modificar</span>
                        </a>
                        <a href="http://127.0.0.1:8000/admin/" class="nav__link">
                            <i class='bx bx-bar-chart-alt-2 nav__icon' ></i>
                            <span class="nav__name">Django Admin</span>
                        </a>
                    </div>
                </div>
                <a href="http://127.0.0.1:8000/index/" class="nav__link">
                    <i class='bx bx-log-out nav__icon' ></i>
                    <span class="nav__name">Cerrar Sesión</span>
                </a>
            </nav>
        </div>
        <div>
            
        </div>
        <script src="{% static 'js/main.js'  %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js" integrity="sha384-5h4UG+6GOuV9qXh6HqOLwZMY4mnLPraeTrjT5v07o347pj6IkfuoASuGBhfDsp3d" crossorigin="anonymous"></script>
        

    </body>
</html>