<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'css/img/perfil.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Administracion | Update</title>
</head>
<body>
    {% include 'sideBar.html' %}
    <div class="container">
        <div class="titulo">
            <h1>Modificar Estado</h1>
        </div>
        <form action="/modificar/" method="GET" class="row g-3" name="registro">
            <div class="col-md-6">
                <label for="txtDespacho" class="form-label">Numero Despacho</label>
                <input type="text" class="form-control" id="txtDespacho" name="txtDespacho"  placeholder="12345" required>
            </div>
            <div class="col-md-6">
                <label for="dtFechaEnvio" class="form-label">Fecha Envío</label>
                <input type="date" class="form-control" id="dtFechaEnvio" name="dtFechaEnvio"  required>
            </div>
            <div class="form-check ">
                <input class="form-check-input" type="checkbox" value="" id="chkEstado" required>
                <label class="form-check-label" for="chkEstado">
                  Estoy seguro que quiero modificar el paquete.
                </label>
            </div>
            <div class="col-md-12">
                <button type="submit"  class="btn btn-dark" id="btnF">Enviar</button>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %}
    {%  for m in messages %}
        <script>
            Swal.fire({
                "title":"Felicitaciones",
                "text":"{{m}}",
                "icon":"success"
            })
        </script>
    {%  endfor %}
    {% endif %}
</body>
</html>