.titulo{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    color: hsl(32, 100%, 31%);
}


#btnF{
    background-color: hsla(32, 100%, 31%, 0.582);
    border: none;
    margin-top: 15px;
}
#btnF:hover{
    background-color: hsl(32, 100%, 31%) !important;
    color: white !important;
}

#btnCodigo{
    margin-top: 33px;
    background-color: hsla(32, 100%, 31%, 0.582);
    border: none;
}

#btnCodigo:hover{
    background-color: hsl(32, 100%, 31%) !important;
    color: white !important;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap%27');
.lo_que_sea
{
    font-family: 'Poppins', sans-serif;
    margin-top: 2px;
    color: hsl(32, 100%, 31%);
}
